@import "vars";
@import "global";
@import "fonts";

// start header
.header{
  background-color: #fff;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  .header__text-help {
    color: $red;
  }
}
.header__btn {
  width: 72px;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.header__btn-login {
  background-color: $green;
}
.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}
.header__btn-logout {
  background-color: $red;
}
.header__menu {
  background-color: $bg;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__circle {
  &.active {
    display: block;
  }
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  &::before {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: #a0a0a0;
  }
  span {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    right: -7px;
    top: -7px;
    font-size: 11px;
    color: #fff;
  }
}
.notification {
  span {
    background-color: #ef6c00;
  }
}
.message {
  span {
    background-color: $red;
  }
}
.basket {
  margin-right: 20px;
  span {
    background-color: $green;
  }
}
.header__btn-login--off {
  display: none;
}
.header__btn-logout {
  display: none;
  &.header__btn-login--on {
    display: block;
  }
}
.user {
  padding-right: 20px;
  margin-right: 25px;
  position: relative;
  &::before {
    content: "\f107";
    position: absolute;
    font-family: "icomoon";
    font-size: 16px;
    color: #707070;
    top: 0;
    right: 0;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__images {
    width: 34px;
    height: 34px;
    margin-right: 15px;
    overflow: hidden;
  }
  &__info {
    font-size: 14px;
    line-height: 24px;
  }
  &__name {
    @include f500;
    color: #222;
  }
  &__money {
    color: $green;
    @include f700;
  }
}
.user__menu {
  border: 0px solid rgb(204, 204, 204);
  position: absolute;
  background-color: #fff;
  padding: 0 20px;
  width: 158px;
  top: 69px;
  left: 20px;
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
  a {
    font-size: 12px;
    color: #546e7a;
    padding-bottom: 15px;
  }
}
.user__box,
.basket__box,
.notification__box,
.message__box {
  position: relative;
  height: 90px;
  margin-top: 40px;
  &:hover {
    .user__menu {
      height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
    }
  }
}

.circle__menu {
  border-top: 1px solid #e0e0e0;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  top: 62px;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
  
}
.basket__box,
.notification__box,
.message__box {
  margin-top: 54px;
  margin-left: 15px;
  &:hover {
    .header__circle::before {
      color: $bg;
    }
    .circle__menu {
      overflow: hidden;
      height: auto;
    }
    .circle__item {
      padding: 23px 23px;
      border-width: 1px;
    }
  }
}
.circle__item {
  background-color: #fff;
  border: 0px solid #e0e0e0;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top: none;
  padding: 0 23px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  width: 269px;
  position: relative;
  &::before {
    position: absolute;
    top: 27px;
    right: 28px;
    color: #b0bec5;
    font-size: 16px;
  }
}
.circle__images {
  margin-right: 15px;
}
.circle__info-name {
  @include f500;
  color: $bg;
}
.circle__info-thema {
  font-size: 12px;
  color: $green;
}
.circle__info-price {
  @include f500;
  color: #000;
  font-size: 16px;
}
.circle__info-data {
  color: #707070;
  font-size: 10px;
}
.basket__summ {
  padding: 15px 17px 12px;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #fff;
}
.basket__summ-title {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  margin-bottom: 15px;
  font-size: 16px;
  @include f700;
  color: #263238;
}
.basket__btn {
  color: #fff;
  @include f700;
  font-size: 14px;
  padding: 12px 5px;
  background-color: $green;
  text-align: center;
  width: 100px;
}
.basket__btn-checkout {
  width: 120px;
  background-color: #ef6c00;
  margin-left: 6px;
}
.notification__menu,
.message__menu {
  .circle__img {
    margin-right: 20px;
    width: 48px;
    height: 48px;
  }
  .circle__info {
    line-height: 18px;
  }
}
.icons-color::before {
  color: #ef6c00;
}
.header__btn-menu,
.menu__btn {
  display: none;
}
// end header

// start search
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
  &.page-search {
    min-height: 230px;
    .search__inner {
      padding: 55px 0px 70px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
}
.search__inner {
  padding: 160px 0 100px;
  color: #fff;
  text-align: center;
  &-title {
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }
  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}
// end search

// start products
.products {
  padding: 110px 0px;
  background-color: $grey;
}
.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}
.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item {
  width: 100%;
  max-width: 442px;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    background-color: #fff;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    font-size: 18px;
    color: $bg;
    display: block;
  }
  &-category {
    font-size: 14px;
    color: $green;
    display: block;
  }
  &-price {
    font-size: 20px;
    color: $bg;
    @include f700;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar {
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span {
      font-size: 14px;
      @include f500;
    }
  }
  &-star {
    font-size: 12px;
    span {
      color: $bg;
    }
  }
}
.products__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

// end products

//start slider

.product-slider {
  padding: 110px 0px 120px;
  .slick-dots {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      margin: 0px 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
// end slider inner

// start advatages

.advantages {
  background-color: $bg;
  padding: 110px 0px;
}
.advantages__title {
  color: #fff;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;
  &:hover {
    .advantages__item-images {
      background-color: $green;
    }
    .advantages__item-title {
      color: $green;
    }
    .advantages__item-images {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
  &-images {
    width: 144px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all 0.5s;
  }
  &-title {
    margin-bottom: 25px;
    color: #fff;
    @include f500;
    font-size: 24px;
    transition: all 0.5s;
  }
  &-text {
    font-size: 15px;
  }
}
// end advantages

// start author

.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }
  &__title {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 45px;
    max-width: 270px;
    span {
      @include f700;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
    color: #263238;
  }
}

// end author

// start tutorial

.tutorial {
  padding: 70px 0px 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
  }
}
.tutorial__item {
  &-images {
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-title {
    font-size: 24px;
    @include f700;
    background-color: #f8f8f8;
    text-align: center;
    padding: 0px 10px;
    padding: 30px;
    color: $bg;
  }
}

// end tutorial

// start footer

.footer {
  background-color: $bg;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }
}
.footer__copy-text {
  text-align: center;
  font-size: 15px;
  color: #919699;
  padding: 25px 0px;
}
.footer__copy {
  border-top: 1px solid #424d53;
}
.footer__col {
  max-width: 270px;
  width: 100%;
  &-menu {
    max-width: 220px;
  }
  &-title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    font-family: "Raleway", sans-serif;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}
.footer__info {
  margin-top: 18px;
  @include f500;
  color: #fff;
  padding-left: 30px;
  position: relative;
  &::before {
    content: "\f041";
    position: absolute;
    font-family: "icomoon";
    color: $green;
    font-size: 18px;
    left: 0;
  }
}
.footer__info-phone {
  &::before {
    content: "\f095";
  }
}
.footer__col-list {
  a {
    margin-bottom: 15px;
    padding-left: 22px;
    position: relative;
    color: #b7c3c8;
    &::before {
      content: "\f105";
      color: $green;
      font-size: 18px;
      left: 0;
      font-family: "icomoon";
      position: absolute;
    }
  }
}
.footer__social-link {
  margin-bottom: 33px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
  a {
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
  }
}
.link-twitter {
  background-position: -28px 0;
}
.link-youtube {
  background-position: 0 -28px;
}
.link-pinterest {
  background-position: -28px -28px;
}
.link-linkedin {
  background-position: -56px 0;
}
.footer__form {
  position: relative;
  &-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
  }
  input {
    background-color: #2f3c43;
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    &::placeholder {
      color: #677378;
      padding-left: 13px;
      padding-right: 50px;
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 40px;
    width: 43px;
    cursor: pointer;
    &::before {
      content: "\f124";
      position: absolute;
      font-family: "icomoon";
      color: #fff;
      font-size: 20px;
      top: 11px;
      left: 13px;
    }
  }
}
// end footer

// start product page

.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}
.product-page__aside {
  margin-right: 30px;
}
.aside__item {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0px 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}
.aside__title {
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  color: $bg;
  @include f700;
  padding: 23px 0px 19px;
}
.category__list {
  padding-top: 10px;
  li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "\f105";
      color: $green;
      font-size: 18px;
      left: 0;
      font-family: "icomoon";
      position: absolute;
    }
  }
  a {
    color: $bg;
  }
  span {
    color: #90a4ae;
    margin-left: 10px;
  }
}
.price-range {
  form {
    padding-top: 20px;
  }
  button {
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    color: #fff;
    @include f500;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    position: relative;
    &::before {
      position: absolute;
      content: "\f002";
      font-family: "icomoon";
      font-size: 15px;
      top: 15px;
      left: 58px;
      color: #fff;
    }
  }
}
.irs-min,
.irs-max {
  display: none;
}
.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}
.irs--flat .irs-bar {
  background-color: $bg;
  height: 5px;
}
.irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 4px solid $green;
  border-radius: 50%;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs-from,
.irs-single,
.irs-to {
  top: 45px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
}
.irs--flat .irs-handle {
  top: 19px;
}
.product-page__aside {
  .product__item-img {
    min-height: 120px;
  }
  .product__item {
    box-shadow: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }
  .product__item-info {
    padding: 0;
    min-height: 0;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-price {
    font-size: 16px;
  }
  .product__item-starnum {
    display: none;
  }
  .rate-star {
    margin-right: 0;
  }
  .product__item-author {
    margin-right: 9px;
  }
  .jq-ry-container {
    padding: 0;
  }
}
.aside__product-item {
  .product__item:last-child {
    border: none;
    padding-bottom: 0;
  }
  .product__item:first-child {
    margin-top: 25px;
  }
}
.top-sellers__link {
  padding: 16px 10px;
  display: block;
  background-color: $green;
  color: #fff;
  @include f500;
  text-align: center;
}
.product-page__content {
  width: 100%;
}
.product-page__filter {
  height: 60px;
  padding: 0px 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dedede;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    outline: none;
    &.active {
      color: $green;
    }
  }
}
.product-page__filter__sort {
  color: #707070;
  font-size: 14px;
}
button.icon-sort-amount-desc {
  font-size: 18px;
  color: #455a64;
}
button.icon-unsorted {
  font-size: 14px;
}
.product-page__content {
  .product__item {
    background-color: #fff;
    max-width: 270px;
    transition: all 0.5s;
  }
  .product__item-img {
    min-height: 180px;
  }
  .product__item-content {
    padding: 10px 20px;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-info {
    min-height: 60px;
    padding: 10px 20px;
  }
  .rate-star {
    margin-right: 5px;
  }
  .jq-ry-container {
    padding: 0;
  }
}
.product-page__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.paginatoin__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 6px;
    }
  }
  a,
  span {
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    align-items: center;
    font-size: 16px;
    color: $bg;
    @include f500;
    &.active {
      background-color: $red;
      color: #fff;
    }
  }
}
.product__item-text {
  display: none;
}
.product__item-price {
  span {
    display: none;
  }
}
.product__item-list {
  display: none;
  .icon-comment-o,
  .icon-heart-o {
    display: inline-block;
    font-size: 12px;
    color: #70838d;
    padding-left: 50px;
    border-left: 1px solid #aeb4bb;
    position: relative;
    span {
      color: $bg;
      @include f500;
    }
    &::before {
      font-size: 16px;
      color: $green;
      position: absolute;
      left: 20px;
      top: -2px;
    }
  }
  .icon-comment-o {
    padding-right: 30px;
  }
}
.product__item {
  &.list {
    max-width: 100%;
    .product__item-img {
      width: 240px;
      float: left;
      min-height: 100%;
    }
    .product__item-text {
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .product__item-price {
      font-size: 30px;
      span {
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        margin-top: 30px;
      }
    }
    .product__item-name {
      max-width: 480px;
    }
    .product__item-content {
      padding-top: 23px;
    }
    .product__item-list {
      display: block;
    }
    .product__item-star {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}

// end product page

@import "media";
